[core]
  editor = nvim

[user]
	name = Deso
	email = 17620345+desojo@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
