# System and Editor Files
.DS_Store
*.bak
*.old
*~
*.swp
.vscode/
.idea/

# Logs
*.log

# Git Metadata
.git/config
.git/modules/
!.gitignore
.gitconfig

# Package and Dependency Files
node_modules/
venv/
.venv/
package-lock.json
yarn.lock

# Build Artifacts
*.o
*.out
*.class

# User-Specific Config
.env
.history

# Generated Assets
themes/
*.webp
*.svg

# Application-Specific
bin/
plugins/
*.lock
lazy-lock.json
stylua.toml

# Ignore specific tools
*.plist
sketchybarrc

# Ignoring unneeded files in .config
*.bak
testing/**/*
.config/tmux/plugins/
.config/nvim.bak/
.config/fontforge/
.config/.DS_Store
.config/Autodesk/
.config/OpenVPN/
.config/coc/
.config/github-copilot/
.config/gtk-2.0/
.config/iterm2/AppSupport/
.config/iterm2/sockets/
.config/iterm2/.DS_Store
.config/wireshark/
.config/fish/
.config/1Password/

# Specific Configurations
.config/iterm2/
.config/github-copilot/
.config/wireshark/
.config/go/telemetry/local
.config/op/config
.config/karabiner/automatic_backups
