
//Ignoring unneeded files in .config
*.bak
testing/**/*
.gitconfig
.config/tmux/plugins/
.config/nvim.bak/
.config/btop/
.config/fontforge/
.config/.DS_Store
.config/Autodesk/
.config/OpenVPN/
.config/coc/
.config/github-copilot/
.config/gtk-2.0/
.config/iterm2/AppSupport
.config/iterm2/sockets
.config/iterm2/.DS_Store
.config/wireshark/
.config/Code/
.config/op/
.config/fish/
