[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github-personal:johnseth97/kickstart.nvim
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
